<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>


{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.adapt_height_first_image and section.settings.image != blank -%}
	{%- style -%}
		@media screen and (max-width: 749px) {
		#Banner-{{ section.id }}::before,
		#Banner-{{ section.id }} .banner__media::before,
		#Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
		padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
		content: '';
		display: block;
		}
		}

		@media screen and (min-width: 750px) {
		#Banner-{{ section.id }}::before,
		#Banner-{{ section.id }} .banner__media::before {
		padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
		content: '';
		display: block;
		}
		}
	{%- endstyle -%}
{%- endif -%}

{%- style -%}
	#Banner-{{ section.id }}::after {
	opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
	}
{%- endstyle -%}

<div id="Banner-{{ section.id }}" class="banner banner--subpage banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}">
	{%- if section.settings.image != blank -%}
		<div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
			<img
					srcset="{%- if section.settings.image.width >= 375 -%}{{ section.settings.image | img_url: '375x' }} 375w,{%- endif -%}
		  {%- if section.settings.image.width >= 750 -%}{{ section.settings.image | img_url: '750x' }} 750w,{%- endif -%}
		  {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
		  {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
		  {%- if section.settings.image.width >= 1780 -%}{{ section.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
		  {%- if section.settings.image.width >= 2000 -%}{{ section.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
		  {%- if section.settings.image.width >= 3000 -%}{{ section.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
		  {%- if section.settings.image.width >= 3840 -%}{{ section.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
		  {{ section.settings.image | img_url: 'master' }} {{ section.settings.image.width }}w"
					sizes="{% if section.settings.image_2 != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image_2 != blank %}50vw{% else %}100vw{% endif %}"
					src="{{ section.settings.image | img_url: '1500x' }}"
					loading="lazy"
					alt="{{ section.settings.image.alt | escape }}"
					width="{{ section.settings.image.width }}"
					height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
					{% if section.settings.image_2 != blank %}class="banner__media-image-half"{% endif %}
			>
		</div>
	{%- elsif section.settings.image_2 == blank -%}
		<div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}">
			{{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
		</div>
	{%- endif -%}
	{%- if section.settings.image_2 != blank -%}
		<div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}">
			<img
					srcset="{%- if section.settings.image_2.width >= 375 -%}{{ section.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
		  {%- if section.settings.image_2.width >= 750 -%}{{ section.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
		  {%- if section.settings.image_2.width >= 1100 -%}{{ section.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
		  {%- if section.settings.image_2.width >= 1500 -%}{{ section.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
		  {%- if section.settings.image_2.width >= 1780 -%}{{ section.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
		  {%- if section.settings.image_2.width >= 2000 -%}{{ section.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
		  {%- if section.settings.image_2.width >= 3000 -%}{{ section.settings.image_2 | img_url: '3000x' }} 3000w,{%- endif -%}
		  {%- if section.settings.image_2.width >= 3840 -%}{{ section.settings.image_2 | img_url: '3840x' }} 3840w,{%- endif -%}
		  {{ section.settings.image_2 | img_url: 'master' }} {{ section.settings.image_2.width }}w"
					sizes="{% if section.settings.image != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
					src="{{ section.settings.image_2 | img_url: '1500x' }}"
					loading="lazy"
					alt="{{ section.settings.image_2.alt | escape }}"
					width="{{ section.settings.image_2.width }}"
					height="{{ section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio }}"
					{% if section.settings.image != blank %}class="banner__media-image-half"{% endif %}
			>
		</div>
	{%- endif -%}
	<div class="banner__content banner__content--{{ section.settings.desktop_text_box_position }} page-width">
		<div class="banner__box color-{{ section.settings.color_scheme }}">
			{%- for block in section.blocks -%}
				{%- case block.type -%}
					{%- when 'heading' -%}
						<h2 class="banner__heading {% if block.settings.heading_size == 'medium' %}h1{% else %}h0{% endif %}" {{ block.shopify_attributes }}>
							<span>{{ block.settings.heading | escape }}</span>
						</h2>
				{%- endcase -%}
			{%- endfor -%}
		</div>
	</div>
</div>

<div class="banner__text banner__text--subpage">
	{%- for block in section.blocks -%}
		<span>{{ block.settings.text | escape }}</span>
	{%- endfor -%}
</div>

<section class="growing">
	<div class="growing__wrapper wrapper">
		<h1>Jak pěstujeme?</h1>

		<div class="growing__arrows">
			<div class="growing__arrow growing__arrow--prev">
				<img src="{{ 'arrow-left.svg' | asset_url }}" alt="">
			</div>
			<div class="growing__arrow growing__arrow--next">
				<img src="{{ 'arrow-right.svg' | asset_url }}" alt="">
			</div>
		</div>

		<div class="growing__row" id="slider">
			<div class="growing__item">
				<h2 class="growing__count">00</h2>
				<p class="growing__copy">
					Naši genetiku ladíme v laboratořích ČZU, kde provádíme vývoj a výzkum našich procesů a odrůd. Poznatky uvádíme v život v naší pěstírně o <strong>rozloze 1853m<sup>2</sup></strong>.
				</p>
				<div class="growing__image">
					<img src="{{ 'growing-00.png' | asset_url }}" alt="">
				</div>
			</div>
			<div class="growing__item">
				<h2 class="growing__count">01</h2>
				<p class="growing__copy">
					Cesta našeho konopí začíná u pečlivě selektovaných matečních rostlin. Z těch nejlepších exemplářů následně uděláme řízky, které díky identické genetické informaci mají konzistení a vysokou kvalitu. Naše klonárna jich může pojmout až 10 000.
				</p>
				<div class="growing__image">
					<img src="{{ 'growing-01.png' | asset_url }}" alt="">
				</div>
			</div>
			<div class="growing__item">
				<h2 class="growing__count">02</h2>
				<p class="growing__copy">
					Tyto malé rostlinky následně umístíme do růstové místnosti, kde dostávají optimální množství živin a světla po dobu cca 3 týdnů. Květiny dostávají denně bohatý přísun světla, v optimálně teplotě a míře vlhkosti vhodné pro jejich rychlý růst.
				</p>
				<div class="growing__image">
					<img src="{{ 'growing-02.png' | asset_url }}" alt="">
				</div>
			</div>
			<div class="growing__item">
				<h2 class="growing__count">03</h2>
				<p class="growing__copy">
					Vzrostlé rostliny se přesunou do květové místnosti. Zde této finální fázi života rostliny přizpůsobíme přísun i kombinaci živin a upravíme světelnou periodu i spektrum, aby ze sebe vydaly to nejlepší.
				</p>
				<div class="growing__image">
					<img src="{{ 'growing-03.png' | asset_url }}" alt="">
				</div>
			</div>
			<div class="growing__item">
				<h2 class="growing__count">04</h2>
				<p class="growing__copy">
					V posledních dvou týdnech květiny zaléváme pouze vodou a enzymy. Tím se vypláchnou veškeré zbytky hnojiv a rostlina má možnost maximálně vstřebat poslední zbytky živin do květů.
				</p>
				<div class="growing__image">
					<img src="{{ 'growing-04.png' | asset_url }}" alt="">
				</div>
			</div>
			<div class="growing__item">
				<h2 class="growing__count">05</h2>
				<p class="growing__copy">
					Květy jsou po sklizni sušeny ve speciálně vybudované sušárně s kontrolou teploty a vlhkosti. Po nějaké době jsou uloženy do skla a tmy, aby květy mohly dozrát, zbavili se enzymů, cukrů a chlorophylu. Zde i finálně dozrávají kanabinoidy.
				</p>
				<div class="growing__image">
					<img src="{{ 'growing-05.png' | asset_url }}" alt="">
				</div>
			</div>
			<div class="growing__item">
				<h2 class="growing__count">06</h2>
				<p class="growing__copy">
					Květy takto i dlouhodobě uchováváme, společně s hydratačními pytlíky Integra Boost, které zaručí jejich čerstvost.
				</p>
				<div class="growing__image">
					<img src="{{ 'growing-06.png' | asset_url }}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	$(document).ready(function(){
		$('.slider').slick({
			slidesToShow: 2,
			prevArrow: $('.growing__arrow--prev'),
			nextArrow: $('.growing__arrow--next')
		});
	});
</script>

<section class="activities">
	<div class="activities__wrapper wrapper">
		<h1>
			Naše aktivity jdou <br>
			za hranice běžného <br>
			pěstitelství
		</h1>

		<div class="activities__row">
			<div class="activities__item">
				<h2>01</h2>
				<p>
					Květy dodáváme do desítek obchodů a organizací
				</p>
			</div>
			<div class="activities__item">
				<h2>02</h2>
				<p>
					Projektujeme a stavíme pěstírny na klíč
				</p>
			</div>
			<div class="activities__item">
				<h2>03</h2>
				<p>
					Vyvíjíme ve strategické spolupráci s firmou Appto led světla na míru pro technické konopí
				</p>
			</div>
			<div class="activities__item">
				<h2>04</h2>
				<p>
					Jsme smluvní partner s VOZP
				</p>
			</div>
			<div class="activities__item">
				<h2>05</h2>
				<p>
					Jsme hlavní dodavatel květů pro showroom CannaRoomz na Náplavce, dokonce tam máme naší živou mateční rostlinu
				</p>
			</div>
			<div class="activities__item">
				<h2>06</h2>
				<p>
					Máme WEED FEED, první automatizovaný coffee shop v Praze, na Karlovo náměstí 15
				</p>
			</div>
		</div>

		<div class="growing">
			<div class="growing__row slider">
				<div class="growing__item">
					<div class="growing__image">
						<img src="{{ 'activities-1.png' | asset_url }}" alt="">
					</div>
				</div>
				<div class="growing__item">
					<div class="growing__image">
						<img src="{{ 'activities-2.png' | asset_url }}" alt="">
					</div>
				</div>
				<div class="growing__item">
					<div class="growing__image">
						<img src="{{ 'activities-3.png' | asset_url }}" alt="">
					</div>
				</div>
				<div class="growing__item">
					<div class="growing__image">
						<img src="{{ 'activities-4.png' | asset_url }}" alt="">
					</div>
				</div>
				<div class="growing__item">
					<div class="growing__image">
						<img src="{{ 'activities-5.png' | asset_url }}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="team">
	<div class="team__wrapper wrapper">
		<h1>Tým</h1>

		<div class="team__row">
			<div class="team__item">
				<h2>Vojta</h2>
				<ul>
					<li>Vision</li>
					<li>Financial mastermind</li>
					<li>Technological evangelist</li>
					<li>Mathematics without numbers</li>
					<li>Go-kart racing</li>
				</ul>
			</div>
			<div class="team__item">
				<h2>Jirka</h2>
				<ul>
					<li>Master grower</li>
					<li>Optimization guru</li>
					<li>Consistency chief</li>
					<li>Spartan</li>
					<li>Javelin throw</li>
				</ul>
			</div>
			<div class="team__item">
				<h2>Víťa</h2>
				<ul>
					<li>Creativity</li>
					<li>Connecting the dots</li>
					<li>Product wizard</li>
					<li>Happiness manager</li>
					<li>Kimono kid</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
"name": "Image banner subpage",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "t:sections.image-banner.settings.image.label"
},
{
"type": "select",
"id": "image_height",
"options": [
{
"value": "small",
"label": "t:sections.image-banner.settings.image_height.options__1.label"
},
{
"value": "medium",
"label": "t:sections.image-banner.settings.image_height.options__2.label"
},
{
"value": "large",
"label": "t:sections.image-banner.settings.image_height.options__3.label"
}
],
"default": "medium",
"label": "t:sections.image-banner.settings.image_height.label",
"info": "t:sections.image-banner.settings.image_height.info"
},
{
"type": "checkbox",
"id": "adapt_height_first_image",
"default": false,
"label": "t:sections.image-banner.settings.adapt_height_first_image.label",
"info": "t:sections.image-banner.settings.adapt_height_first_image.info"
},
{
"type": "select",
"id": "desktop_text_box_position",
"options": [
{
"value": "flex-start",
"label": "t:sections.image-banner.settings.desktop_text_box_position.options__1.label"
},
{
"value": "center",
"label": "t:sections.image-banner.settings.desktop_text_box_position.options__2.label"
},
{
"value": "flex-end",
"label": "t:sections.image-banner.settings.desktop_text_box_position.options__3.label"
}
],
"default": "center",
"label": "t:sections.image-banner.settings.desktop_text_box_position.label"
},
{
"type": "checkbox",
"id": "show_text_box",
"default": true,
"label": "t:sections.image-banner.settings.show_text_box.label"
},
{
"type": "range",
"id": "image_overlay_opacity",
"min": 0,
"max": 100,
"step": 10,
"unit": "%",
"label": "t:sections.image-banner.settings.image_overlay_opacity.label",
"default": 0
},
{
"type": "select",
"id": "color_scheme",
"options": [
{
"value": "accent-1",
"label": "t:sections.image-banner.settings.color_scheme.options__1.label"
},
{
"value": "accent-2",
"label": "t:sections.image-banner.settings.color_scheme.options__2.label"
},
{
"value": "background-1",
"label": "t:sections.image-banner.settings.color_scheme.options__3.label"
},
{
"value": "background-2",
"label": "t:sections.image-banner.settings.color_scheme.options__4.label"
},
{
"value": "inverse",
"label": "t:sections.image-banner.settings.color_scheme.options__5.label"
}
],
"default": "background-1",
"label": "t:sections.image-banner.settings.color_scheme.label",
"info": "t:sections.image-banner.settings.color_scheme.info"
},
{
"type": "header",
"content": "t:sections.image-banner.settings.header.content"
},
{
"type": "checkbox",
"id": "stack_images_on_mobile",
"default": true,
"label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
},
{
"type": "checkbox",
"id": "show_text_below",
"default": true,
"label": "t:sections.image-banner.settings.show_text_below.label"
}
],
"blocks": [
{
"type": "heading",
"name": "t:sections.image-banner.blocks.heading.name",
"limit": 1,
"settings": [
{
"type": "text",
"id": "heading",
"default": "Image banner",
"label": "t:sections.image-banner.blocks.heading.settings.heading.label"
},
{
"type": "select",
"id": "heading_size",
"options": [
{
"value": "medium",
"label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__1.label"
},
{
"value": "large",
"label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__2.label"
}
],
"default": "medium",
"label": "t:sections.image-banner.blocks.heading.settings.heading_size.label"
}
]
},
{
"type": "text",
"name": "t:sections.image-banner.blocks.text.name",
"limit": 1,
"settings": [
{
"type": "text",
"id": "text",
"default": "Give customers details about the banner image(s) or content on the template.",
"label": "t:sections.image-banner.blocks.text.settings.text.label"
}
]
},
{
"type": "buttons",
"name": "t:sections.image-banner.blocks.buttons.name",
"limit": 1,
"settings": [
{
"type": "text",
"id": "button_label_1",
"default": "Button label",
"label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
"info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
},
{
"type": "url",
"id": "button_link_1",
"label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
},
{
"type": "checkbox",
"id": "button_style_secondary_1",
"default": false,
"label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
},
{
"type": "text",
"id": "button_label_2",
"default": "Button label",
"label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
"info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
},
{
"type": "url",
"id": "button_link_2",
"label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
},
{
"type": "checkbox",
"id": "button_style_secondary_2",
"default": false,
"label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
}
]
}
],
"presets": [
{
"name": "Image banner subpage",
"blocks": [
{
"type": "heading"
},
{
"type": "text"
},
{
"type": "buttons"
}
],
"category": "Custom"
}
]
}
{% endschema %}
