<div class="keyFeatures">
  <div class="page-width">
    <div class="keyFeatures__wrapper wrapper">
      <div class="keyFeatures__row row">
        <div class="keyFeatures__col keyFeatures__col--image">
          {%- if section.settings.key-feature-1-image != blank -%}
          <img id="mImage-main" class="mImages__image" src="{{ section.settings.key-feature-1-image | img_url: '485x' }}"
               alt="{{ section.settings.image-1.alt | escape }}"
               loading="lazy"
               >
          {%- endif -%}
        </div>
        <div class="keyFeatures__col keyFeatures__col--copy">
          <span class="keyFeatures__subheadline">{{ section.settings.key-feature-headline }}</span>
          <ul class="keyFeatures__list">
            <li data-img="{{ 'uleva-od-stresu.png' | asset_url }}">{{ section.settings.key-feature-1 }}</li>
            <li data-img="{{ 'uleva-od-bolesti.png' | asset_url }}">{{ section.settings.key-feature-2 }}</li>
            <li data-img="{{ 'vyssi-soustredeni.png' | asset_url }}">{{ section.settings.key-feature-3 }}</li>
            <li data-img="{{ 'svalova-regenerace.png' | asset_url }}">{{ section.settings.key-feature-4 }}</li>
            <li data-img="{{ 'mImage-5.png' | asset_url }}">{{ section.settings.key-feature-5 }}</li>
            <li data-img="{{ 'mImage-6.png' | asset_url }}">{{ section.settings.key-feature-6 }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Key features",
    "settings": [
		{
          "type": "image_picker",
          "id": "key-feature-1-image",
          "label": "Key feature"
        },
		{
          "type": "text",
          "id": "key-feature-headline",
          "default": "Headline",
          "label": "Key feature headline"
        },
		{
          "type": "text",
          "id": "key-feature-1",
          "default": "Key feature",
          "label": "Key feature"
        },
		{
          "type": "text",
          "id": "key-feature-2",
          "default": "Key feature",
          "label": "Key feature"
        },
		{
          "type": "text",
          "id": "key-feature-3",
          "default": "Key feature",
          "label": "Key feature"
        },
		{
          "type": "text",
          "id": "key-feature-4",
          "default": "Key feature",
          "label": "Key feature"
        },
		{
          "type": "text",
          "id": "key-feature-5",
          "default": "Key feature",
          "label": "Key feature"
        },
		{
          "type": "text",
          "id": "key-feature-6",
          "default": "Key feature",
          "label": "Key feature"
        }
	],
	"presets": [
      {
        "name": "Key features",
        "category": "Custom"
      }
	]

  }
{% endschema %}
