<div class="mImages">
    <div class="page-width">
      <div class="mImages__wrapper wrapper">
        <div class="mImages__row row">
          <div class="mImages__col">
            <div class="custom-text-section">
                <span class="mImages__subheadline">{{ section.settings.heading }}</span>
                <h2 class="mImages__headline">{{ section.settings.subheading }}</h2>
                <h2 class="mImages__text">{{ section.settings.text }}</h2>
            </div>
          </div>
          <div class="mImages__col">
            {%- if section.settings.image-1 != blank -%}
              <img src="{{ section.settings.image-1 | img_url: '255x' }}"
                alt="{{ section.settings.image-1.alt | escape }}"
                loading="lazy"
              >
            {%- endif -%}
            {%- if section.settings.image-2 != blank -%}
              <img src="{{ section.settings.image-2 | img_url: '255x' }}"
                alt="{{ section.settings.image-2.alt | escape }}"
                loading="lazy"
              >
            {%- endif -%}
            {%- if section.settings.image-3 != blank -%}
              <img src="{{ section.settings.image-3 | img_url: '255x' }}"
                alt="{{ section.settings.image-3.alt | escape }}"
                loading="lazy"
              >
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "Multiple images section",
    "settings": [
		{
          "type": "text",
          "id": "subheading",
          "default": "Section sub-heading",
          "label": "Section sub-heading"
        },        
		{
          "type": "text",
          "id": "heading",
          "default": "Section heading",
          "label": "Section heading"
        },
		{
          "type": "richtext",
          "id": "text",
		  "default": "<p>Section copy</p>",
          "label": "Section copy"
        },
		{
		  "type": "image_picker",
		  "id": "image-1",
      	  "label": "Section image 1"
        },
		{
		  "type": "image_picker",
		  "id": "image-2",
      	  "label": "Section image 2"
        },
		{
		  "type": "image_picker",
		  "id": "image-3",
      	  "label": "Section image 3"
        }
	],
	"presets": [
      {
        "name": "Multiple images section",
        "category": "Custom"
      }
	]
}
{% endschema %}

